.main {
  background-color: rgb(254, 254, 254);
  min-height: 100vh;
}

/* .gamesHeader {
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
}

.gamesHeader h1 {
  
    
} */

.games {
  display: grid;
  width: 50%;

  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;

  margin-top: 50px;

  grid-template-columns: 1fr 1fr 1fr;
}




@media (max-width: 950px) {
    .games {
      grid-template-columns: 1fr 1fr;
    }
}

/* Mobile */
@media (max-width: 700px) {
  .games {
    grid-template-columns: 1fr;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1);
  }
}
